@use '../abstracts/mixins' as m;
.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
}
.swiper-btn {
    display: flex !important;
}
.watch-btn {
    display: flex;
    align-items: center;
    columns: 100px;
    color: var(--text-color);

    & .fa-solid {
        background: var(--main-color);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
        font-size: 20px;
        display: none;
        position: relative;
        z-index: 200;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            // left: 0;
            // bottom: 0;
            width: 50px;
            height: 50px;
            border: 1px solid rgba(255, 180, 58, 0.7);
            background-color: rgba(255, 180, 58, 0.3);
            border-radius: 50%;
            z-index: -1;
            animation: example 1s infinite;
            transform: translate(-50%, -50%);
        }
    }

    & .fa-solid:hover {
        background: var(--hover-color);
    }

    @include m.tablet {
        & .fa-solid {
            width: 40px;
            height: 40px;
        }
    }
    @include m.mobile {
        & .fa-solid {
            width: 30px;
            height: 30px;
        }
    }
}
.watch-movie {
    background-color: #262c37;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    color: red;

    @include m.tablet {
        & {
            width: 80px;
            height: 40px;
            font-size: 14px;
        }
    }
    @include m.mobile {
        & {
            padding-inline: 2px;
            width: 65px;
            height: 30px;
            font-size: 13px;
        }
    }
}
.watch-movie:hover {
    background-color: rgb(97, 4, 4);
    color: white;
}

.watch-trailer {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    background-color: #262c37;
    color: #2894ff;

    @include m.tablet {
        & {
            width: 80px;
            height: 40px;
            font-size: 14px;
        }
    }
    @include m.mobile {
        & {
            width: 65px;
            height: 30px;
            font-size: 13px;
        }
    }
}
.watch-trailer:hover {
    background: aqua;
    color: black;
}

.movie-box:hover .fa-solid {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid {
    cursor: pointer;
}

@keyframes example {
    0% {
        width: 0;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    95% {
        width: 90px;
        height: 90px;
        opacity: 0.5;
    }
    100% {
        width: 92px;
        height: 92px;
        opacity: 0.3;
    }
}
