@use '../abstracts//mixins' as m;
.end-movie-content.container {
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;

    .end-movie {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        .logo-end {
            height: 70px;
            width: 150px;
            img {
                height: 70px;
                width: 150px;
            }
        }
    }

    @include m.desktop {
        & {
            font-size: 12px;
        }
    }
    @include m.tablet {
        & {
            display: none;
        }
    }
}
